.products-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 30px;
}

.loading {
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    margin-top: 200px;
    font-size: 1.5rem;
}