.ItemContainer {
    padding: 8px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.259);
    border: 1px white solid;
    border-radius: 15px;
    width: 174px;
    height: 200px;
}

.ItemContainer img {
    width: 100px;
    height: 100px;
    padding: 8px;
}

.ItemContainer p {
    margin: 10px 0px;
}

.botones {
    display: flex;
    flex-direction: row;
}

button {
    padding: 2px;
    height: 30px;
    border-radius: 10px;
    margin: 3px 20px;
}

.btn-agregar {
    margin-top: 1rem;
}