.detailContainer {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
}